.vscode/

test_problems/collaz/clz_hrm
test_problems/collaz/clz_std

test_problems/simple_neutron/neut_std
test_problems/simple_neutron/neut_hrm
test_problems/simple_neutron/neut_evt

*.exe
*.so
*.ptx
*.pyc

__pycache__/
__ptxcache__/

build/

CMakeLists.txt

